{% extends "layout.html" %}

{% block content %}
    <h1>ページ１</h1>
    <h2>見出し１</h2>

    <form action="/result" method="POST" id="ajax-result" enctype="multipart/form-data">
        <h3>テキストを入力</h3>
        <input type="text" name="text_form" class="display-text">
        
        <h3>ファイルをアップロード</h3>
        <div class="drop-area">
            <input type="file" name="img_file" accept=".jpg, .jpeg, .png">
        </div>

        <p><br></p>
        <button type="submit" class="btn" onclick="OnButtonClick();" style="margin-top: 30px;">取得開始</button>
    </form>
    <div id="js_wait_btn_output"></div>

    <p><br></p>
    <p><br></p>

{% endblock %}